@import '../../index.scss';

.show__comments {
    font-size: .8rem;
}

.css-177gid-MuiTableCell-root, .css-11w94w9-MuiTableCell-root {
    text-align: justify !important;
    
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
background-color: $secondary-color !important;
border-radius: 1rem !important;
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: $secondary-color !important;
border-radius: 1rem !important;
}

.css-96uuyl {
    margin-left: 24px !important;
    width: 600px !important;
    border-radius: 2rem !important;
}

.css-1mxz8qt-MuiPaper-root {
    background-color: $complementary-color !important;
}
.css-1mxz8qt-MuiPaper-root {
    border-radius: 2rem;
    margin: 1rem;
}

.css-10cbwbc-MuiTableRow-root {
    background-color:#2ec1ab68;
}
.css-11w94w9-MuiTableCell-root, .css-1nf681w-MuiTableCell-root, .css-177gid-MuiTableCell-root {
    border-bottom: 3px solid #fff !important;

}

.css-1nf681w-MuiTableCell-root {
    border-radius: 2rem 0 0 2rem;
}

.css-1mxz8qt-MuiPaper-root {
    box-shadow: none !important;
}

.css-1ex1afd-MuiTableCell-root {
    border-bottom: 3px solid #fff !important;
    border-radius: 0 2rem 2rem 0 !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: $secondary-color !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: $primary-color !important;
}

.css-1whpjm6-MuiToolbar-root {
    border-radius: 1.5rem !important;
}

.css-10dfkli-MuiTableCell-root, .css-1ygcj2i-MuiTableCell-root {
    font-weight: bold !important;
}