@import '../../index.scss';

.show__comments {
    font-size: .8rem;
}

.dashboard__tablecell {
    text-align: justify !important;
    border-bottom: 3px solid #fff !important;
   // border-radius: 2rem 0 0 2rem;
   border-bottom: 3px solid #fff !important;
}

.dashboard__iconbutton {
&:hover {
    background-color: $secondary-color !important;
    border-radius: 1rem !important; 
}
}

.dashboard__paper {
    background-color: $complementary-color !important;
    border-radius: 2rem;
    margin: 1rem;
    box-shadow: none !important;
}
.dashboard__tablerow {
    background-color:#2ec1ab68;
}

.dashboard__checkbox {
    color: $secondary-color !important;
}
.dashboard__toolbar {
    border-radius: 1.5rem !important;
}