@import '../../index.scss';

.profile {
    &__container {
        display: flex;
        flex-direction: row;

        &__left {
            display: flex;
            flex-direction: column;
            width: 70%;
            background-color: $complementary-color;

            &__title {
                text-align: center;
                margin: 2rem 0 2rem 0;
                color: $primary-color;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            width: 30%;
            justify-content: center;
            align-items: center;

            &__avatar {
                border-radius: 50%;
                background-color: $primary-color;
                height: 200px;
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;

                &__p {
                    font-size: 3rem;
                }
            }
        }
    }


}


@media screen and (max-width: 500px) {
    .profile {
        &__container {
            display: flex;
            flex-direction: column-reverse;
            //  justify-content: center;
            align-items: center;

            &__left {
                width: 100%;
            }

            &__right {
                width: 100%;
            }
        }
    }
}