@import '../../index.scss';

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    background-color: $complementary-color !important;
    border-radius: 2rem !important;
    max-width: auto !important;
    margin: 1rem;
    
}


  